.card {
    padding: 1rem 2rem;
    border: 1px solid var(--boxShadowBorder);
    border-radius: 1rem;
    box-shadow: var(--boxShadowColor) 0px 3px 11px 0px;
}

.card p:last-child {
    margin: 0;
}

.card header>* {
    margin-top: 0;
    margin-bottom: 1rem;
}